<launch>
    <arg name="base_link" default="base_link"/>
    <arg name="covariance_diagonal" default="[0.5, 0.5, 0.5, 0, 0, 0,]"/>
    <arg name="marker_offset" default="[-0.09, 0.0, 0.0]"/>
    <arg name="marker_size" default="0.15"/>

    <node pkg="marker_based_localization" type="hybrid_localization" name="marker_based_localization" output="screen">
        <rosparam param="base_link">$(arg base_link)</rosparam>
        <rosparam param="covariance_diagonal">$(arg covariance_diagonal)</rosparam>
        <rosparam param="marker_offset">$(arg marker_offset)</rosparam>
        <rosparam param="marker_size">$(arg marker_size)</rosparam>
    </node>
</launch>